# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [5]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import json
import time

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [7]:
weather_df = pd.read_csv("City_Data.csv")
weather_df.head()

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,marsh harbour,27,BS,1613942065,75,26.5412,-77.0636,67.28,26.49
1,atambua,100,ID,1613942065,87,-9.1061,124.8925,72.84,2.35
2,walvis bay,1,NaN,1613942065,82,-22.9575,14.5053,62.01,6.91
3,cape town,0,ZA,1613941876,59,-33.9258,18.4232,64.00,18.41
4,mataura,0,NZ,1613942066,48,-46.1927,168.8643,61.74,2.04

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [8]:
gmaps.configure(api_key = g_key)

In [9]:
locations = weather_df[["Lat", "Lng"]]
humidity = weather_df["Humidity"]

fig = gmaps.figure()

heat_map = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=5)

fig.add_layer(heat_map)
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [10]:
 #narrow cities to weather conditions 
weather_df = weather_df.loc[(weather_df["Wind Speed"]<= 10) & (weather_df["Cloudiness"] <= 5) & 
                                (weather_df["Max Temp"]>= 70) & (weather_df["Max Temp"]<= 75)].dropna()

weather_df

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
84,abu dhabi,0,AE,1613942078,83,24.4667,54.3667,71.60,5.75
167,salalah,0,OM,1613942090,68,17.0151,54.0924,73.40,3.44
324,bentiu,0,SS,1613942139,20,9.2333,29.8333,74.46,3.36
336,lalmohan,0,BD,1613942140,46,22.3384,90.7419,70.29,5.95
385,rancho palos verdes,1,US,1613941895,14,33.7445,-118.3870,71.60,9.22
475,zhaoqing,0,CN,1613942161,99,23.0512,112.4597,71.01,1.50
481,jambusar,0,IN,1613942163,22,22.0500,72.8000,72.91,8.32
574,atar,0,MR,1613942177,19,20.5169,-13.0499,72.23,9.82

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [11]:
hotel_df = weather_df[["City", "Lat", "Lng","Country"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df

                    City      Lat       Lng Country Hotel Name
84             abu dhabi  24.4667   54.3667      AE
167              salalah  17.0151   54.0924      OM
324               bentiu   9.2333   29.8333      SS
336             lalmohan  22.3384   90.7419      BD
385  rancho palos verdes  33.7445 -118.3870      US
475             zhaoqing  23.0512  112.4597      CN
481             jambusar  22.0500   72.8000      IN
574                 atar  20.5169  -13.0499      MR

In [16]:
params = {
    "radius": 5000,
    "types": "lodging",
    "keyword": "Hotel",
    "key": g_key
}

# Use the lat/lng to identify airports
for index, row in hotel_df.iterrows():
    # get lat, lng from hotel_df
    lat = row["Lat"]
    lng = row["Lng"]

    # change location each iteration while leaving original params in place
    params["location"] = f"{lat},{lng}"

    # Use the search term: "Hotel" with lat/lng
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # make request and print url
    name_address = requests.get(base_url, params=params)
    
#print the name_address url, avoid doing for public github repos in order to avoid exposing key
    #print(name_address.url)

    # convert to json
    name_address = name_address.json()
    #print(json.dumps(name_address, indent=4, sort_keys=True))

    # Since some data may be missing we incorporate a try-except to skip any that are missing a data point.
    try:
        hotel_df.loc[index, "Hotel Name"] = name_address["results"][0]["name"]
        hotel_df.loc[index, "Airport Address"] = name_address["results"][0]["vicinity"]
        hotel_df.loc[index, "Airport Rating"] = name_address["results"][0]["rating"]
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")
#hotel_df.info()

In [13]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]
hotel_info

['\n<dl>\n<dt>Name</dt><dd>Emirates Palace</dd>\n<dt>City</dt><dd>abu dhabi</dd>\n<dt>Country</dt><dd>AE</dd>\n</dl>\n',
 '\n<dl>\n<dt>Name</dt><dd>Salalah Gardens Hotel</dd>\n<dt>City</dt><dd>salalah</dd>\n<dt>Country</dt><dd>OM</dd>\n</dl>\n',
 '\n<dl>\n<dt>Name</dt><dd>Mandela hôtel</dd>\n<dt>City</dt><dd>bentiu</dd>\n<dt>Country</dt><dd>SS</dd>\n</dl>\n',
 '\n<dl>\n<dt>Name</dt><dd>Arafat Hotel</dd>\n<dt>City</dt><dd>lalmohan</dd>\n<dt>Country</dt><dd>BD</dd>\n</dl>\n',
 '\n<dl>\n<dt>Name</dt><dd>Terranea Resort</dd>\n<dt>City</dt><dd>rancho palos verdes</dd>\n<dt>Country</dt><dd>US</dd>\n</dl>\n',
 '\n<dl>\n<dt>Name</dt><dd>OYC Hotel</dd>\n<dt>City</dt><dd>zhaoqing</dd>\n<dt>Country</dt><dd>CN</dd>\n</dl>\n',
 '\n<dl>\n<dt>Name</dt><dd>Hotel my</dd>\n<dt>City</dt><dd>jambusar</dd>\n<dt>Country</dt><dd>IN</dd>\n</dl>\n',
 '\n<dl>\n<dt>Name</dt><dd>Auberge mer et desert</dd>\n<dt>City</dt><dd>atar</dd>\n<dt>Country</dt><dd>MR</dd>\n</dl>\n']

In [14]:
# Add marker layer ontop of heat map
figure_layout = {
    'width': '900px',
    'height': '600px',
    'border': '1px solid black',
    'padding': '1px',
    'margin': '0 auto 0 auto'
}
fig = gmaps.figure(layout=figure_layout,zoom_level=2,center=(15,25))

# Create hotel symbol layer
hotel_layer = gmaps.marker_layer(
    locations,info_box_content=hotel_info)


# Add layer
fig.add_layer(heat_map)
fig.add_layer(hotel_layer)
# Display figure
fig

# Display figure

Figure(layout=FigureLayout(border='1px solid black', height='600px', margin='0 auto 0 auto', padding='1px', wi…